Repository roots/sage, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, javascript, php, views

.github/labeler.yml:

build:
  - changed-files:
      - any-glob-to-any-file:
          - .eslintrc.js
          - .prettierrc
          - .stylelintrc
          - bud.config.js
          - tsconfig.json
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - yarn.lock
javascript:
  - changed-files:
      - any-glob-to-any-file:
          - resources/scripts/**/*.js
php:
  - changed-files:
      - any-glob-to-any-file:
          - functions.php
          - app/**/*.php
          - resources/views/**/*.php
views:
  - changed-files:
      - any-glob-to-any-file:
          - index.php
          - resources/views/**/*.php

Fix for multiple .po files (#3155)
  package.json
Labels: none

🩹 Comments title: Fix make-pot warning
  app/View/Composers/Comments.php
Labels: php

🩹 Comments title: Fix make-pot warning (#3178)
  app/View/Composers/Comments.php
Labels: php

♿️ Add accessible names to nav elements
  resources/views/partials/comments.blade.php
  resources/views/partials/content-page.blade.php
  resources/views/partials/content-single.blade.php
Labels: php, views

Update resources/views/partials/content-single.blade.php
  resources/views/partials/content-single.blade.php
Labels: php, views

Update resources/views/partials/content-page.blade.php
  resources/views/partials/content-page.blade.php
Labels: php, views

Update resources/views/partials/comments.blade.php
  resources/views/partials/comments.blade.php
Labels: php, views

♿️ Add accessible names to nav elements (#3179)
  resources/views/partials/comments.blade.php
  resources/views/partials/content-page.blade.php
  resources/views/partials/content-single.blade.php
Labels: php, views

🔧 Remove sage-svg suggestion
  composer.json
Labels: none

🔧 Build
  theme.json
  yarn.lock
Labels: dependencies

🔖 v10.8.0
  style.css
Labels: none

🔧 10.x-dev
  style.css
Labels: none

Bump minimum PHP version to 8.1
  style.css
Labels: none

🔧 Bump minimum PHP version to 8.1 in `style.css` (#3181)
  style.css
Labels: none

🩹 Fix exception being thrown when listing comments
  resources/views/partials/comments.blade.php
Labels: php, views

🩹 Fix exception being thrown when listing comments (#3182)
  resources/views/partials/comments.blade.php
Labels: php, views

🔖 v10.8.1
  style.css
Labels: none

🔧 10.x-dev
  style.css
Labels: none

fix: Deprecation errors in CI Action
  .github/workflows/main.yml
Labels: none

🩹 Fix the comment list output
  app/View/Composers/Comments.php
  resources/views/partials/comments.blade.php
Labels: php, views

👷 Fix deprecation errors in CI Action (#3183)
  .github/workflows/main.yml
Labels: none

🩹 Fix the comment list output (#3184)
  app/View/Composers/Comments.php
  resources/views/partials/comments.blade.php
Labels: php, views

🔖 v10.8.2
  style.css
Labels: none

🔧 10.x-dev
  style.css
Labels: none

Update composer
  composer.json
  composer.lock
Labels: none

Update README.md
  README.md
Labels: none

Update yarn.lock
  yarn.lock
Labels: dependencies

Update composer.lock
  composer.lock
Labels: none

Change required PHP version
  composer.json
Labels: none

Change target branch for composer
  README.md
Labels: none

Update composer.lock
  composer.lock
Labels: none

Update theme credentials
  style.css
Labels: none

Update README.md
  README.md
Labels: none

Update screenshot
  screenshot.png
Labels: none

📝 Update README [ci skip]
  README.md
Labels: none

Update php files for vite
  app/filters.php
  app/helpers.php
  app/medias.php
  app/setup.php
  functions.php
  resources/.DS_Store
Labels: php
