Repository roots/sage, pull requests merged in 2021-12, with the labels that each got.

#2870 feat(theme-wrapper): remove `shrink-to-fit=no`
  index.php
Labels: enhancement

#2882 Update to Tailwind CSS v3.0
  package.json
  yarn.lock
Labels: dependencies

#2906 chore(deps-dev): Bump @roots/bud to v5.0.0
  package.json
  yarn.lock
Labels: dependencies

#2900 Remove all base styles followup
  resources/views/components/alert.blade.php
  resources/views/forms/search.blade.php
  resources/views/layouts/app.blade.php
Labels: views
