Repository roots/sage, pull requests merged in 2022-03, with the labels that each got.

#2997 ⬆️ bud v5.5.0
  package.json
  yarn.lock
Labels: dependencies

#3000 🔥 improve: no need to watch tailwind.config.js
  bud.config.js
Labels: build

#2998 🔥 remove linting
  .eslintrc.js
  .github/workflows/main.yml
  .prettierrc
  .stylelintrc
  package.json
  yarn.lock
Labels: build, dependencies

#2994 chore(deps): Remove deprecated variant configuration from tailwind config
  tailwind.config.js
Labels: build

#3012 ⬆️ bud v5.6.2
  package.json
  yarn.lock
Labels: dependencies

#3023 ⬆️ bud 5.7.4
  package.json
  yarn.lock
Labels: dependencies

#3024 ⬆️ bud 5.7.6
  bud.config.js
  package.json
  yarn.lock
Labels: build, dependencies
