Repository roots/sage, pull requests merged in 2022-02, with the labels that each got.

#2967 chore(header): allow unescaped siteName data
  resources/views/sections/header.blade.php
Labels: views, php

#2964 🔧 migrate global settings to `theme.json`
  README.md
  app/setup.php
  style.css
  theme.json
Labels: php, editor

#2976 ⬆️ bump bud to v5.3.2
  bud.config.js
  package.json
  resources/scripts/app.js
  resources/scripts/components/index.js
  resources/scripts/editor.js
  yarn.lock
Labels: build, dependencies, javascript

#2827 Remove Acorn as dependency; treat as requirement
  README.md
  composer.json
  functions.php
Labels: php, hacktoberfest-accepted

#2979 💬 acorn requirement error: add link to install docs
  functions.php
Labels: php

#2983 bud 5.4.0
  .eslintrc.js
  bud.config.js
  jsconfig.json
  package.json
  resources/scripts/app.js
  resources/scripts/editor.js
  theme.json
  yarn.lock
Labels: build, dependencies, javascript
