Repository roots/sage, pull requests merged in 2022-01, with the labels that each got.

#2917 chore: remove helpers.php
  README.md
  app/helpers.php
  functions.php
Labels: php

#2916 Remove JavaScript detection using class names
  index.php
  resources/scripts/app.js
Labels: views, javascript

#2922 Bump eslint to 8.6.0
  .eslintrc.js
  package.json
  yarn.lock
Labels: build, dependencies

#2933 app/setup.php doesn’t need to be executable
  app/setup.php
Labels: php

#2936 Re-organize views directory, split out partials
  resources/views/index.blade.php
  resources/views/layouts/app.blade.php
  resources/views/sections/footer.blade.php
  resources/views/sections/header.blade.php
  resources/views/sections/sidebar.blade.php
Labels: views, php

#2941 fix(views): Use dot notation on entry-meta view includes
  resources/views/partials/content-search.blade.php
  resources/views/partials/content-single.blade.php
  resources/views/partials/content.blade.php
Labels: views, php

#2932 fix(bundle-editor): remove `@wordpress/edit-post`
  resources/scripts/editor.js
Labels: javascript

#2952 Bud v5.1.0
  bud.config.js
  package.json
  yarn.lock
Labels: build, dependencies

#2961 suggestions
  .eslintrc.js
  .stylelintrc
  bud.config.js
  jsconfig.json
  tsconfig.json
Labels: build

#2959 Bud v5.2.0
  .eslintrc.js
  .stylelintrc
  bud.config.js
  jsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Labels: build, dependencies
